* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  background: #f5f5f5;
  transition: opacity 0.3s ease;
}

/* CURSOR */
.cursor {
  width: 16px;
  height: 16px;
  border: 2px solid #067b09;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
}

.cursor.activo {
  background: #067b09;
  transform: scale(1.4);
}

/* MENU */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 40px;
  background: #f5f5f5;
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.menu a {
  color: #111;
  text-decoration: none;
  font-weight: 600;
}

.menu a:hover {
  color: #067b09;
}

/* PRINCIPAL */
.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  margin-top: 140px;
  text-align: center;
  font-size: 64px;
  color: #054f1a;
}

.titulo {
  font-family: 'Rock 3D', cursive;
}


.nombre {
  display: block;
  font-size: 32px;
  margin-top: 10px;
}

.nombre {
  font-family: "Kirang Haerang", system-ui;
  font-weight: 400;
  font-style: normal;
}


.descripcion {
  margin-top: 10px;
  font-size: 13px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  opacity: 0.7;
}

.descripcion {
  font-family: "The Girl Next Door", cursive;
  font-weight: 400;
  font-style: normal;
  font-weight: 300;
}


/* CARRUSEL Principal */
.carrusel {
  position: relative;
  width: 900px;
  height: 380px;
  margin-top: 30px;
}

.carrusel-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.6s ease;
}

.carrusel-item img {
  width: 260px;
  height: 180px;
  object-fit: cover;
  padding: 14px;
  background: #054f1a;
  position: relative;
}

.carrusel-item::before {
  content: "";
  position: absolute;
  inset: -8px;
  background:
    radial-gradient(circle, #054f1a 4px, transparent 2px);
  background-size: 13.1px 14px;
  border-radius: 5px;
  opacity: 0.9;
  pointer-events: none;
}

.carrusel-item .ver {
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.carrusel-item.front:hover img {
  transform: scale(1.06);
}

.carrusel-item.front:hover .ver {
  opacity: 1;
}

/* posiciones */
.front {
  transform: translate(-50%, -50%) scale(1);
  z-index: 3;
}

.left {
  transform: translate(-160%, -50%) scale(0.75);
  opacity: 0.6;
  z-index: 2;
}

.right {
  transform: translate(60%, -50%) scale(0.75);
  opacity: 0.6;
  z-index: 2;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.4);
}

/* PROYECTOS */
.grid-proyectos {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 28px;
  padding: 120px 60px;
}

.grid-proyectos a {
  position: relative;
  display: block;
}

.grid-proyectos img {
  width: 100%;
  height: 361px;
  object-fit: cover;
  padding: 14px;
  background: #054f1a;
  position: relative;
  z-index: 2;
}

.grid-proyectos a::before {
  content: "";
  position: absolute;
  inset: -8px;
  background:
    radial-gradient(circle, #054f1a 4px, transparent 3px);
  background-size: 14px 14px;
  border-radius: 14px;
  opacity: 0.7;
  pointer-events: none;
  z-index: 1;
}

.grid-proyectos a:hover img {
  transform: scale(1);
  transition: 0.3s ease;
}

.grid-proyectos a:hover::before {
  transform: scale(1.05);
  transition: 0.3s ease;
}

/* FONDO Productos */
.fondo-imagenes {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0px;
  padding: 0px;
  z-index: 1;
}


.fondo-imagenes img {
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  opacity: 10;
  animation: aparecer 0.4s forwards;
}

@keyframes aparecer {
  to { opacity: 0.5; }
}

/* FICHA Producto */
.ficha {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 700px;
  height: 320px;
  display: flex;
  gap: 30px;
  padding: 30px;
  z-index: 5;

  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(30px);
  border: 8px solid rgba(0, 0, 0, 0.08);

  transition: opacity 0.6s ease, transform 0.6s ease;
}

.ficha.oculto {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -45%) scale(0.98);
}

.ficha.visible {
  opacity: 1;
  pointer-events: auto;
}

.ficha-img {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ficha-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.ficha-texto {
  width: 70%;
  color: #2b2b2b;
}

#titulo-producto {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

#texto-producto {
  font-family: "The Girl Next Door", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.6;
  color: #555;
}

.ficha-texto p {
  margin-top: 10px;
}



/* CONTACTO */
.etiqueta {
  position: fixed;
  bottom: 160px;
  right: 400px;
  border: 6px solid #054f1a;
  padding: 30px;
  width: 500px;
  height: 240px;
  font-size: 26px;
  line-height: 1.2;
  background: rgba(225, 225, 225, 0.824);
  z-index: 6;
  color: #054f1a;
  border-radius: 12px;
}

.etiqueta {
  font-family: "Barriecito", system-ui;
  font-weight: 500;
  font-style: normal;
}

.etiqueta a,
.etiqueta a:visited {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px dotted #054f1a;
  padding-bottom: 2px;
}

.etiqueta a:hover {
  opacity: 0.7;
}

/* FONDOS POR PROYECTO */
body.p1 { background: #027e7a; }
body.p2 { background: #332843; }
body.p3 { background: #026bad; }
body.p4 { background: #29352c; }
body.p5 { background: #7e0430; }


